@use "sass:string";
@use "sass:color";
@use '../themes/gruvbox-dark.scss';

$font_family: CaskaydiaCove Nerd Font;

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

$font_family: CaskaydiaCove Nerd Font;
$fg: gruvbox-dark.$fg1;
$bg: gruvbox-dark.$bg2;
$error: gruvbox-dark.$l_red;
$blue_button: gruvbox-dark.$l_blue;
$blue_button_border: gruvbox-dark.$d_blue;
$green_button: gruvbox-dark.$l_green;
$green_button_border: gruvbox-dark.$d_green;
$purple_button: gruvbox-dark.$l_purple;
$purple_button_border: gruvbox-dark.$d_purple;
$orange_button: gruvbox-dark.$l_orange;
$orange_button_border: gruvbox-dark.$d_orange;
$red_button: gruvbox-dark.$l_red;
$red_button_border: gruvbox-dark.$d_red;


window.NotificationPopups {
    all: unset;
}

eventbox.Notification {
    font-family: $font_family;

    &:first-child>box {
        margin-top: 1rem;
    }

    &:last-child>box {
        margin-bottom: 1rem;
    }

    >box {
        min-width: 400px;
        border-radius: 20px;
        background-color: $bg;
        margin: .5rem 1rem .5rem 1rem;
        box-shadow: 2px 3px 8px 0 gtkalpha(black, .4);
        border: 1pt solid gtkalpha($fg, .03);
    }

    &.critical>box {
        border: 1pt solid gtkalpha($error, .4);

        .header {

            .app-name {
                color: gtkalpha($error, .8);
            }

            .app-icon {
                color: gtkalpha($error, .6);
            }
        }
    }

    .header {
        padding: .5rem;
        color: $fg;

        .app-icon {
            margin: 0 .4rem;
            color: gtkalpha($fg, 0.6);
        }

        .app-name {
            margin-right: 5rem;
            font-weight: bold;

            &:first-child {
                margin-left: .4rem;
            }
        }

        .time {
            margin: 0 .4rem;
            color: gtkalpha($fg, 0.3);
        }

        button {
            all: unset;
            background-color: $red_button;
            padding: .2rem 0.5rem;
            min-width: 0;
            min-height: 0;
            color: $fg;
            font-family: $font_family;
            font-weight: bold;
            border-radius: 10px;
            border: 1pt solid transparent;
            transition: background-color 200ms, border-color 200ms;
    
            &:hover {
                background-color: color.adjust($red_button, $alpha: -0.4);
                // border-color: color.adjust($red_button_border, $alpha: -0.2);
            }
    
            &:active {
                // background-color: color.adjust($red_button_border, $alpha: -0.6);
                background-color: $red_button_border;
            }
        }
    }

    separator {
        margin: 0 .4rem;
        background-color: gtkalpha($fg, 0.1);
    }

    .content {
        margin: 1rem;
        margin-top: .5rem;

        .summary {
            font-size: 1.2em;
            color: $fg;
        }

        .body {
            color: gtkalpha($fg, 0.8);
        }

        .image {
            border: 1px solid gtkalpha($fg, .02);
            margin-right: .5rem;
            border-radius: 10px;
            min-width: 100px;
            min-height: 100px;
            background-size: cover;
            background-position: center;
        }
    }

    .actions {
        margin: 1rem;
        margin-top: 0;

        button {
            all: unset;
            margin: 0 .3rem;
            color: $fg;
            font-family: $font_family;
            font-weight: bold;
            border-radius: 10px;
            border: 1pt solid transparent;
            transition: background-color 200ms, border-color 200ms;
            
            &:nth-child(1) {
                background-color: color.adjust($blue_button, $alpha: -0.45);

                &:hover, &:focus {
                    background-color: $blue_button_border;
                }
                
                &:active {
                    background-color: color.adjust($blue_button, $alpha: -0.4);
                    border-color: color.adjust($blue_button_border, $alpha: -0.2);
                }
            }
            
            &:nth-child(2) {
                background-color: color.adjust($green_button, $alpha: -0.45);
                
                &:hover, &:focus {
                    background-color: $green_button_border;
                }
                
                &:active {
                    background-color: color.adjust($green_button, $alpha: -0.4);
                    border-color: color.adjust($green_button_border, $alpha: -0.2);
                }
            }

            &:nth-child(3) {
                background-color: color.adjust($purple_button, $alpha: -0.45);

                &:hover, &:focus {
                    background-color: $purple_button_border;
                }
                
                &:active {
                    background-color: color.adjust($purple_button, $alpha: -0.4);
                    border-color: color.adjust($purple_button_border, $alpha: -0.2);
                }
            }

            &:nth-child(4) {
                background-color: color.adjust($orange_button, $alpha: -0.45);

                &:hover, &:focus {
                    background-color: $orange_button_border;
                }
                
                &:active {
                    background-color: color.adjust($orange_button, $alpha: -0.4);
                    border-color: color.adjust($orange_button_border, $alpha: -0.2);
                }
            }

            &:nth-child(5) {
                background-color: color.adjust($red_button, $alpha: -0.45);

                &:hover, &:focus {
                    background-color: $red_button_border;
                }
                
                &:active {
                    background-color: color.adjust($red_button, $alpha: -0.4);
                    border-color: color.adjust($red_button_border, $alpha: -0.2);
                }
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }


        label {
            transition: 200ms;
            padding: 0 8px;
            margin: 0px;
            border-radius: 10px;
            border: 1pt solid transparent;
        }
    }
}
