@use "sass:color";
@use '../themes/gruvbox-dark.scss';

$font_family: CaskaydiaCove Nerd Font;
$bg: gruvbox-dark.$bg3;
$fg: gruvbox-dark.$fg1;
$button: gruvbox-dark.$d_blue;
$button_border: gruvbox-dark.$l_blue;

window.Bar {
    border: none;
    box-shadow: none;
    background-color: #00000000;
    color: $fg;
    font-size: 1.1em;
    font-weight: bold;
    font-family: $font_family;

    label {
        margin: 0px 8px;
    }

    .Workspaces  {
        button {
            all: unset;
            background-color: transparent;

            &:hover label {
                background-color: color.adjust($button, $alpha: -0.4);
                // border-color: color.adjust($button_border, $alpha: -0.2);
            }

            &:active label {
                // background-color: color.adjust($button_border, $alpha: -0.6);
                background-color: $button_border;
            }
        }

        label {
            transition: 200ms;
            padding: 0 8px;
            margin: 0px;
            border-radius: 10px;
            border: 1pt solid transparent;
        }

        .focused label {
            color: $fg;
            background-color: $button_border;
        }
    }

    .workspaces_container {
      background-color: $bg;
      border: 1pt solid transparent;
      border-radius: 20px;
    }

    // .workspaces {
    //   margin-left: 10px;
    // }
}

