@use "sass:color";
@use '../themes/gruvbox-dark.scss';

$font_family: CaskaydiaCove Nerd Font;

window.Bar {
    border: none;
    box-shadow: none;
    background-color: #00000000;
    color: gruvbox-dark.$fg1;
    font-size: 1.1em;
    font-weight: bold;
    font-family: $font_family;

    label {
        margin: 0px 8px;
    }

    .Workspaces  {
        button {
            all: unset;
            background-color: transparent;

            &:hover label {
                background-color: color.adjust(gruvbox-dark.$d_green, $alpha: -0.7);
                border-color: color.adjust(gruvbox-dark.$l_green, $alpha: -0.4);
            }

            &:active label {
                background-color: color.adjust(gruvbox-dark.$l_green, $alpha: -0.8)
            }
        }

        label {
            transition: 200ms;
            padding: 0 8px;
            margin: 0px;
            border-radius: 10px;
            border: 1pt solid transparent;
        }

        .focused label {
            color: gruvbox-dark.$fg1;
            background-color: gruvbox-dark.$l_green;
        }
    }

    .workspaces_container {
      background-color: gruvbox-dark.$bg4;
      border: 1pt solid transparent;
      border-radius: 20px;
    }

    .focused_client_container {
      background-color: gruvbox-dark.$bg2;
      border: 1pt solid transparent;
      border-radius: 20px;
    }

    .time_container {
      background-color: gruvbox-dark.$l_blue;
      border: 1pt solid transparent;
      border-radius: 20px;
    }

    .date_container {
      background-color: gruvbox-dark.$d_purple;
      border: 1pt solid transparent;
      border-radius: 20px;
    }

    .date, .time {
      margin-right: 10px;
    }

    .workspaces {
      margin-left: 10px;
    }

    .utilities_container, .app_launcher_container {
      background-color: gruvbox-dark.$bg1;
      border: 1pt solid transparent;
      border-radius: 20px;

      button {
        all: unset;

        &:hover label {
          background-color: color.adjust(gruvbox-dark.$l_white, $alpha: -0.7);
          border-color: color.adjust(gruvbox-dark.$l_white, $alpha: -0.4);
        }
      }

      label {
        transition: 200ms;
        padding: 0 11px 0 8px;
        margin: 0px;
        border-radius: 10px;
        border: 1pt solid transparent;
      }
    }


    // .SysTray {
    //     margin-right: 8px;
    //
    //     button {
    //         padding: 0 4px;
    //     }
    // }
    //
    
    //
    // .Media .Cover {
    //     min-height: 1.2em;
    //     min-width: 1.2em;
    //     border-radius: $radius;
    //     background-position: center;
    //     background-size: contain;
    // }
    //
    // .Battery label {
    //     padding-left: 0;
    //     margin-left: 0;
    // }
    //
    // .AudioSlider {
    //     * {
    //         all: unset;
    //     }
    //
    //     icon {
    //         margin-right: .6em;
    //     }
    //
    //     & {
    //         margin: 0 1em;
    //     }
    //
    //     trough {
    //         background-color: color.adjust($fg1, $alpha: -0.8);
    //         border-radius: $radius;
    //     }
    //
    //     highlight {
    //         background-color: $accent;
    //         min-height: .8em;
    //         border-radius: $radius;
    //     }
    //
    //     slider {
    //         background-color: $fg1;
    //         border-radius: $radius;
    //         min-height: 1em;
    //         min-width: 1em;
    //         margin: -.2em;
    //     }
    // }
}

