@use "sass:color";
@use "sass:string";
@use '../../themes/gruvbox-dark.scss';

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

$font_family: CaskaydiaCove Nerd Font;
$fg: gruvbox-dark.$fg1;
$bg: gruvbox-dark.$bg2;
$green_button: gruvbox-dark.$l_green;
$green_button_border: gruvbox-dark.$d_green;
$red_button: gruvbox-dark.$l_red;
$red_button_border: gruvbox-dark.$d_red;

window {
  all: unset;
  background-color: gtkalpha(black, 0.65);
}

window > box {
  margin: 10px;
  padding: 6px;
  box-shadow: 2px 3px 8px 0 gtkalpha(black, 0.4);
  border-radius: 20px;
  background-color: $bg;
  color: $fg;
  min-width: 200px;
  font-family: $font_family;
}

box > label {
  color: $fg;
  font-size: large;
  margin: 6px;
}

label.title {
  color: $fg;
  font-size: 1.4em;
}

.action {
  color: $fg;
}

button.yes {
  all: unset;
  margin: 6px;
  color: $fg;
  min-width: 0;
  min-height: 0;
  padding: .5rem;
  background-color: color.adjust($green_button, $alpha: -0.4);
  border-radius: 20px;
  border: 1pt solid transparent;
  transition: background-color 200ms, border-color 200ms;

  &:hover, &:focus {
    background-color: $green_button_border;
  }

  &:active {
      background-color: color.adjust($green_button, $alpha: -0.4);
      border-color: color.adjust($green_button_border, $alpha: -0.2);
  }
}

button.no {
  all: unset;
  margin: 6px;
  color: $fg;
  min-width: 0;
  min-height: 0;
  padding: .5rem;
  background-color: color.adjust($red_button, $alpha: -0.4);
  border-radius: 20px;
  border: 1pt solid transparent;
  transition: background-color 200ms, border-color 200ms;

  &:hover, &:focus {
    background-color: $red_button_border;
  }
  
  &:active {
    background-color: color.adjust($red_button, $alpha: -0.4);
    border-color: color.adjust($red_button_border, $alpha: -0.2);
  }
}
